<div class="page">
    <nav class="page__menu menu">
        <ul class="menu__list r-list">
            <NavLink href="" Match="NavLinkMatch.All">
                <li class="menu__group">
                    <a class="menu__link r-link text-underlined">Home</a>
                </li>
            </NavLink>
            <NavLink href="breeds" Match="NavLinkMatch.All">
                <li class="menu__group">
                    <a class="menu__link r-link text-underlined">Breeds</a>
                </li>
            </NavLink>
            <NavLink href="cats" Match="NavLinkMatch.All">
                <li class="menu__group">
                    <a class="menu__link r-link text-underlined">Cats</a>
                </li>
            </NavLink>
        </ul>
    </nav>
</div>
